---
import Fire from "@/assets/fire.astro";
---

<a
    class="bg-[#FBBF24] px-6 py-2 rounded-full font-semibold md:py-3 text-black flex items-center justify-center gap-1 group cursor-pointer hover:scale-105 transition-transform"
    href="https://3bd7q0ou5l2.typeform.com/to/UnD7CT2T"
    target="_blank"
    rel="noopener noreferrer"
>
    Unirme a la lista de espera
    <Fire />
</a>
