---
import Fire from "@/assets/fire.astro";
---

<a
    class="bg-[#FBBF24] px-6 py-2 rounded-full font-semibold md:py-3 text-black flex items-center justify-center gap-1 group cursor-pointer hover:scale-105 transition-transform"
>
    Unirme a la lista de espera
    <Fire />
</a>
