---
import { Image } from "astro:assets";
---

<div class="flex items-center gap-6 w-full px-10">
    <Image
        width={48}
        height={48}
        src={Astro.props.src}
        alt={`Foto de ${Astro.props.user}`}
        class="w-12 h-12 rounded-full saturate-0"
        loading={"eager"}
    />
    <div class="max-w-lg text-zinc-300 text-sm">
        <p>{Astro.props.user}</p>
        <p>
            <slot />
        </p>
    </div>
</div>
