---
import Heading2 from "@/components/Heading2.astro";
import ContentCard from "@/components/ContentCard.astro";
const content = [
  {
    title: "I18n",
    description: "M煤ltiples idiomas en tu aplicaci贸n.",
  },
  {
    title: "Base de datos",
    description: "Interact煤a con una base de datos usando Prisma.",
  },
  {
    title: "Auth",
    description:
      "Autenticaci贸n de usuarios, rutas protegidas y roles (admin y usuario).",
  },
  {
    title: "Pagos",
    description: "Compra de suscripciones mensuales con distintos planes.",
  },
  {
    title: "Webhooks",
    description:
      "Escucha cada suscripci贸n y ejecuta la l贸gica de negocio necesaria.",
  },
  {
    title: "Mails",
    description:
      "Env铆a emails como verificaci贸n de usuario o bienvenida tras comprar una suscripci贸n.",
  },
  {
    title: "PDF",
    description: "Genera PDFs para facturas y env铆alos por correo.",
  },
  {
    title: "QR Acceso",
    description: "Crea un QR seguro de acceso a un local",
  },
  {
    title: "Websockets",
    description: "Escucha y muestra eventos de acceso en tiempo real.",
  },
];
---

<section
  class="max-w-content-size mx-auto flex flex-col gap-12 mt-20 px-8 pt-28"
>
  <Heading2> Lo que aprender谩s:</Heading2>
  <div
    cards-container
    class="flex flex-col overflow-hidden gap-6 max-h-[992px] [mask-image:_linear-gradient(to_top,_transparent_0,_white_128px,white_calc(100%-0px),_transparent_100%)]"
  >
    {
      content.map((item, index) => (
        <ContentCard
          title={`${index + 1}. ${item.title}`}
          description={item.description}
        />
      ))
    }
  </div>
  <button
    load-more
    class="text-black text-lg font-semibold bg-white inline-block mx-auto rounded-lg py-3 px-6"
    >Ver contenido completo </button
  >
</section>

<script>
  document.querySelector("[load-more]")?.addEventListener("click", (e) => {
    const target = e.target as HTMLButtonElement;
    target && target.parentElement?.removeChild(target);
    document
      .querySelector("[cards-container]")
      ?.classList.remove(
        "max-h-[992px]",
        "[mask-image:_linear-gradient(to_top,_transparent_0,_white_128px,white_calc(100%-0px),_transparent_100%)]"
      );
  });
</script>
