---
import BaseHead from "@/components/BaseHead.astro";
---

<html lang="en">
    <BaseHead title={Astro.props.title} />
    <body class="bg-dark-blue">
        <header>
            <nav>
                <ul>
                    <li>Inicio</li>
                    <li>Pricing</li>
                </ul>
            </nav>
        </header>
        <slot />
    </body>
</html>
